.dataListItem
  background-color: #fff
  border: 1px solid #dfdfdf
  border-radius: 5px
  padding: 10px 20px
  margin-bottom: 5px

.itemHeader
  display: flex
  flex-direction: row
  align-items: center
  justify-content: space-between


.optionButton
  margin-right: 15px
  &:last-child
    margin-right: 0

.itemInfoContainer
  border-top: 1px solid #fff
  max-height: 0
  overflow: hidden
  transition: all 1s
  padding: 0 20px

.itemInfoContainer_shown
  border-top: 1px solid #dfdfdf
  max-height: 300px

  padding: 20px

.link
  display: block
  margin-top: 20px
  text-decoration: none
  color: blue
  &::before
    content: '\2192'
    display: inline-block
    margin-right: 10px
    transform: translateX(0)
    transition: transform 300ms
  &:hover
    text-decoration: underline
    &::before
      transform: translateX(5px)

